<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-xl-12">

            <button routerLink="atrasados" class="btn btn-danger my-3" data-toggle="tooltip" data-placement="right" title="Alugueis Atrasados">
                <i class="fas fa-thumbs-down mr-1"></i>Alugueis Atrasados
            </button>

            <div class="card mb-4">

                <div class="card-header">
                    <i class="fas fa-fw fa-table mr-1"></i>Lista de Alugueis
                </div>

                <div class="card-body">

                    <div class="row mb-2">

                        <div class="col-6">

                            <div class="mb-3 mt-2">

                                <form class="form form-inline" (ngSubmit)="pesquisarPorPeriodo()">
                                    <label for="inicio" class="mr-2">De:</label>
                                    <input type="date" name="inicio" [(ngModel)]="busca.inicio" class="form-control form-control-sm mr-2">
                                    
                                    <label for="fim" class="mr-2">Até:</label>
                                    <input type="date" name="fim" [(ngModel)]="busca.fim" class="form-control form-control-sm">

                                    <button class="btn btn-primary btn-sm ml-1">
                                        <i class="fas fa-search mr-1"></i>Pesquisar
                                    </button>

                                </form>

                            </div>

                        </div>

                    </div>

                    <div class="table-responsive-lg">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th scope="col">Vencimento</th>
                                    <th scope="col">Inquilino</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <!--Lista de Alugueis-->
                                
                                <tr *ngFor="let aluguel of alugueis">
                                    <td>{{aluguel.dataVencimento}}</td>
                                    <td>{{aluguel.locacao.inquilino.nome}}</td>
                                    <td>{{aluguel.locacao.valor | currency: 'BRL'}}</td>
                                    <td>
                                        <span class='alert alert-success p-1' *ngIf="aluguel.quite">Pago</span>
                                        <span class='alert alert-danger p-1' *ngIf="!aluguel.quite">Não Pago</span>
                                    </td>
                                    <td>
                                            
                                        <button disabled *ngIf="aluguel.quite" class='btn btn-success btn-sm mr-1' data-toggle='tooltip' data-placement='top' title='Registrar Pagamento'><i class='fas fa-dollar-sign'></i></button>
                                        <a [routerLink]="['pagar',aluguel.idAluguel]" *ngIf="!aluguel.quite" class='btn btn-success btn-sm mr-1' data-toggle='tooltip' data-placement='top' title='Registrar Pagamento'><i class='fas fa-dollar-sign'></i></a>
                                            
                                        <a [routerLink]="['alugueis',aluguel.locacao.idLocacao]" class="btn btn-primary btn-sm mr-1" data-toggle="tooltip" title="Visualizar outros alugueis">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                               
                            </tbody> 
                            <tfoot class="text-center">
                                <tr>
                                    <th scope="col">Vencimento</th>
                                    <th scope="col">Inquilino</th>
                                    <th scope="col">Valor</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Selecionar</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <paginacao [optPagina]="optPagina" (qtdPorPagina)="setSize($event)" [totalPagina]="getTotalPage()" (pagina)="buscarPorPagina($event)"></paginacao>

                </div>

            </div>
           
        </div>

    </div>

</div>