<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-xl-12">

            <a routerLink="/locacao" class="btn btn-secondary mt-3">
                <i class="fas fa-undo-alt mr-1"></i>Voltar
            </a>


            <div class="card mt-3 mb-4">

                <div class="card-header">
                    <i class="fas fa-file-contract mr-1"></i>Atualização da Locação de Imóvel
                </div>
                    
                <div class="card-body">

                    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

                        <div class="row justify-content-center mt-3">

                            <div class="col-xl-9">

                                <fieldset>
                                    <legend>Dados Gerais</legend>

                                    <div class="form-group">
                                        <label class="mb-0" for="inquilinos">Inquilino</label>
                                        <select formControlName="inquilino" id="inquilinos" class="form-control">
                                            <!--Lista de Inquilinos-->
                                            <ng-container *ngFor="let inq of inquilinos">
                                                <option [value]="inq.id">{{inq.nome}}</option>
                                            </ng-container>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label  class="mb-0" for="proprietarios">Proprietário</label>
                                        <select formControlName="proprietario" id="proprietarios" class="form-control">
                                            <!--Lista de Proprietarios-->
                                            <ng-container *ngFor="let prop of proprietarios">
                                                <option [value]="prop.id">{{prop.nome}}</option>
                                            </ng-container>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label  class="mb-0" for="imoveis">Imóvel</label>
                                        <select formControlName="imovel" id="imoveis" class="form-control">
                                            <!--Lista de Imoveis do Proprietarios-->
                                            <ng-container *ngFor="let imovel of imoveis">
                                                <option [value]="imovel.id">{{imovel.endereco | endereco}}</option>
                                            </ng-container>
                                        </select>
                                    </div>

                                </fieldset>

                            </div>

                        </div>

                        <div class="row justify-content-center mt-3">

                            <div class="col-xl-9">

                                <fieldset>

                                    <legend>Dados da Locação</legend>

                                    <div class="form-row">

                                        <div class="col-xl-6">

                                            <div class="form-group">
                                                <label class="mb-0" for="valorAluguel">Valor do Aluguel</label>
                                                <input type="number" min="0" step="0,01" class="form-control" id="valorAluguel" formControlName="preco">
                                            </div>
                                                    
                                        </div>

                                        <div class="col-xl-6">

                                            <div class="form-group">
                                                <label class="mb-0" for="dataLocacao">Data da Locação</label>
                                                <input type="date" class="form-control" id="dataLocacao" formControlName="data">
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-row">

                                        <div class="col-xl-4">

                                            <div class="form-group">
                                                <label class="mb-0" for="tempoContrato">Tempo de Contrato</label>
                                                <input type="number" (change)="onChangeTempo($event.target.value)" min="3" class="form-control" id="tempoContrato" formControlName="tempo" placeholder="Tempo em meses">
                                            </div>

                                        </div>

                                        <div class="col-xl-4">

                                            <div class="form-group">
                                                <label class="mb-0" for="inicioContrato">Início do Contrato</label>
                                                <input type="date" min="3" class="form-control" id="inicioContrato" formControlName="dataInicio">
                                            </div>

                                        </div>

                                        <div class="col-xl-4">

                                            <div class="form-group">
                                                <label class="mb-0" for="terminoContrato">Termino do Contrato</label>
                                                <input type="date" min="3" class="form-control" id="terminoContrato" formControlName="dataTermino">
                                            </div>

                                        </div>

                                    </div>

                                    <button type="submit" class="btn btn-primary mt-2 mr-2 float-right">
                                        <i class="fas fa-pen mr-1"></i>Atualizar
                                    </button>
             
                                </fieldset>

                            </div>

                        </div>

                    </form> 

                </div>

            </div>

            <div class="alert alert-success mt-3" *ngIf="sucesso">
                <strong>Sucesso!</strong> Locação Atualizada Com Sucesso!
            </div>

            <div class="alert alert-danger mt-3" *ngIf="erro">
                <strong>Erro!</strong> Erro Ao Atualizar Dados Da Locação!
            </div>

        </div>

    </div>
</div>
