<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="col-xl-12">

            <a routerLink="/aluguel" class="btn btn-secondary mt-3">
                <i class="fas fa-undo-alt mr-1"></i>Voltar
            </a>

            <div class="card mt-4 mb-4">
                <div class="card-header">
                    <i class="fas fa-thumbs-down mr-1"></i>Alugueis Atrasados!
                </div>

                <div class="card-body">

                    <div class="table-responsive-lg">

                        <table class="table table-bordered table-striped table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th>Vencimento</th>
                                    <th>Inquilino</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>

                            <tbody class="text-center">
                                <!--Lista de Alugueis Atrasados -->
                                <tr *ngFor="let aluguel of alugueis">
                                    <td>{{aluguel.dataVencimento}}</td>
                                    <td>// ?? PESQUISAR ?? //</td>
                                    <td>// ?? PESQUISAR ?? //</td>
                                </tr>
                            </tbody>

                            <tfoot class="text-center">
                                <tr>
                                    <th>Vencimento</th>
                                    <th>Inquilino</th>
                                    <th>Valor</th>
                                </tr>
                            </tfoot>

                        </table>

                    </div>

                    <paginacao  [optPagina]="optPagina" (qtdPorPagina)="setSize($event)" [totalPagina]="getTotalPage()" (pagina)="buscarPorPagina($event)"></paginacao>

                </div>

            </div>

        </div>

    </div>

</div>