<div class="row">

    <div class="col-sm-1">
        <select class="form-control" (change)="onChange($event.target.value)">
            <ng-container *ngFor="let p of optPagina">
                <option [value]="p">{{p}}</option>
            </ng-container>
        </select>
    </div>
    
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <ng-container *ngFor="let a of getTotalPagina(); let i = index ">
                    <li class="page-item" #l >
                        <a class="page-link" *ngIf="setPrimeiro(l,i)" (click)="onClick(l,i)">{{i+1}}</a>
                    </li>
                </ng-container>
            </ul>
        </nav>
    </div>

</div>