<nav class="navbar navbar-expand-lg navbar-dark bg-primary" >

  <span class="navbar-brand"><i class="fas fa-fw fa-home"></i>Imobiliária</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="sidebar">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item mr-2" routerLinkActive="active">
        <a routerLink="/home" class="nav-link">
          <i class="fas fa-fw fa-bars"></i>
            <span class="nav-link-text">Home</span>
          </a>
      </li>

      <li class="nav-item mr-2" routerLinkActive="active">
        <a routerLink="/imovel" class="nav-link">
          <i class="fas fa-fw fa-home"></i>
          <span class="nav-link-text">Imóvel</span>
        </a>
      </li>

      <li class="nav-item mr-2" routerLinkActive="active">
        <a routerLink="/aluguel" class="nav-link">
          <i class="fas fa-fw fa-hand-holding-usd"></i>
          <span class="nav-link-text">Aluguel</span>
        </a>
      </li>
                  
      <li class="nav-item mr-2" routerLinkActive="active">
        <a routerLink="/locacao" class="nav-link">
          <i class="fas fa-fw fa-key"></i>
          <span class="nav-link-text">Locação</span>
        </a>
      </li>

      <li class="nav-item mr-2" routerLinkActive="active">
        <a routerLink="/inquilino" class="nav-link">
          <i class="fas fa-fw fa-user"></i>
          <span class="nav-link-text">Inquilino</span>
        </a>
      </li>

      <li class="nav-item mr-2" routerLinkActive="active">
        <a routerLink="/proprietario" class="nav-link">
          <i class="fas fa-fw fa-user-tie"></i>
          <span class="nav-link-text">Proprietário</span>
        </a>
      </li>

    </ul>

  </div>

</nav>

<router-outlet></router-outlet>