<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-xl-12">

            <a routerLink="/aluguel" class="btn btn-secondary mt-3">
                <i class="fas fa-undo-alt mr-1"></i>Voltar
            </a>

            <div class="card mt-3 mb-4">

                <div class="card-header">
                    <i class="fas fa-dollar-sign mr-1"></i>Pagar Aluguel
                </div>

                <div class="card-body"> 

                    <h5 class="mb-0">Inquilino</h5>
                    <span class="mb-3 d-block">/// ?? PESQUISAR ?? ///</span>

                    <h5 class="mb-0">Imovel</h5>
                    <span class="mb-3 d-block">/// ?? PESQUISAR ?? ///</span>

                    <h5 class="mb-0">Vencimento</h5>
                    <span class="mb-3 d-block">{{aluguel?.dataVencimento}}</span>

                    <h5 class="mb-0">Valor</h5>
                    <span class="mb-3 d-block">/// ?? PESQUISAR ?? ///</span>

                    <button class="btn btn-success mt-2 d-block" type="button" (click)="registrarPagamento()">
                        <i class="fas fa-cash-register mr-1"></i>Registrar Pagamento
                    </button>

                </div>

            </div>

            <div class="alert alert-success mt-3" *ngIf="sucesso">
                <strong>Sucesso!</strong> Pagamento registrado com sucesso!
                
            </div>

            <div class="alert alert-danger mt-3" *ngIf="erro">
                <strong>Erro!</strong> Erro ao registrar pagamento!
            </div>

        </div>

    </div>
</div>