<div class="container-fluid">
    
    <div class="row">

        <div class="col-xl-12">

            <a routerLink="/imovel" class="btn btn-secondary mt-3">
                <i class="fas fa-undo-alt mr-1"></i>Voltar
            </a>

            <div class="card mt-3 mb-4">

                <div class="card-header">
                    <i class="fas fa-home mr-1"></i>Cadastro de Imóvel
                </div>

                <div class="card-body">

                    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

                        <div class="row justify-content-center mt-3">
                                        
                            <div class="col-xl-9">

                                <fieldset>
                                    <legend>Dados Gerais</legend>

                                    <div class="form-group">
                                        <label for="proprietarios" class="mb-0">Proprietario</label>
                                        <select formControlName="proprietario" id="proprietarios" class="form-control" [ngClass]="getClassErro('proprietario')">
                                            <ng-container *ngFor="let prop of proprietarios">
                                                <option [value]="prop.id">{{prop.nome}}</option>
                                            </ng-container>
                                        </select>

                                        <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('proprietario')" [campo]="formulario.get('proprietario')"></feedback-campo>
                                    </div>

                                    <div class="form-row">

                                        <div class="col-xl-6">

                                            <div class="form-group">
                                                <label for="precoAluguel" class="mb-0">Preço do Aluguel</label>
                                                <input type="number" min="0.01" step="0.01" class="form-control" id="precoAluguel" formControlName="preco" [ngClass]="getClassErro('preco')">
                                            
                                                <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('preco')" [campo]="formulario.get('preco')"></feedback-campo>
                                            </div>
                                        </div>

                                        <div class="col-xl-6">

                                            <div class="form-group">
                                                <label for="tipo" class="mb-0">Tipo do Imóvel</label>
                                                <input type="text" formControlName="tipo" id="tipo" class="form-control" [ngClass]="getClassErro('tipo')">

                                                <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('tipo')" [campo]="formulario.get('tipo')"></feedback-campo>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="descricao" class="mb-0">Descrição do Imóvel</label>
                                        <textarea formControlName="descricao" id="descricao" class="form-control" cols="0" rows="4" [ngClass]="getClassErro('descricao')"></textarea>
                                        
                                        <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('descricao')" [campo]="formulario.get('descricao')"></feedback-campo>
                                    </div>

                                </fieldset>

                            </div>

                        </div>
                                    
                        <div class="row justify-content-center mt-3">

                            <div class="col-xl-9">

                                <fieldset formGroupName="endereco">
                                    <legend>Endereço</legend>
                        
                                    <div class="form-row">

                                        <div class="form-group col-xl-4">
                                            <label for="cep" class="mb-1">CEP</label>
                                            <input type="text" formControlName="cep" id="cep" class="form-control" [ngClass]="getClassErro('endereco.cep')" (blur)="buscarPorCep()">
                                            
                                            <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('endereco.cep')" [campo]="formulario.get('endereco.cep')"></feedback-campo>
                                        </div>
                        
                                        <div class="form-group col-xl-2">
                                            <label for="estado" class="mb-1">Estado</label>
                                            <input type="text" formControlName="estado" id="estado" class="form-control" max="2" [ngClass]="getClassErro('endereco.estado')">
                                            
                                            <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('endereco.estado')" [campo]="formulario.get('endereco.estado')"></feedback-campo>
                                        </div>
                        
                                        <div class="form-group col-xl-6">
                                            <label for="cidade" class="mb-1">Cidade</label>
                                            <input type="text" formControlName="cidade" id="cidade" class="form-control" [ngClass]="getClassErro('endereco.cidade')">

                                            <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('endereco.cidade')" [campo]="formulario.get('endereco.cidade')"></feedback-campo>
                                        </div>
                                                
                                    </div>
                        
                                    <div class="form-row">
                                                    
                                        <div class="form-group col-xl-3">
                                            <label for="bairro" class="mb-1">Bairro</label>
                                            <input type="text" formControlName="bairro" id="bairro" class="form-control" [ngClass]="getClassErro('endereco.bairro')">

                                            <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('endereco.bairro')" [campo]="formulario.get('endereco.bairro')"></feedback-campo>
                                        </div>
                        
                                        <div class="form-group col-xl-7">
                                            <label for="logradouro" class="mb-1">Logradouro</label>
                                            <input type="text" formControlName="logradouro" id="logradouro" class="form-control" [ngClass]="getClassErro('endereco.logradouro')">

                                            <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('endereco.logradouro')" [campo]="formulario.get('endereco.logradouro')"></feedback-campo>
                                        </div>
                        
                                        <div class="form-group col-xl-2">
                                            <label for="numero" class="mb-1">Número</label>
                                            <input type="text" formControlName="numero" id="numero" class="form-control" [ngClass]="getClassErro('endereco.numero')">

                                            <feedback-campo class="invalid-feedback" [mostrarErro]="validarCampo('endereco.numero')" [campo]="formulario.get('endereco.numero')"></feedback-campo>
                                        </div>
                        
                                    </div>
                        
                                    <div class="form-group">
                                        <label for="complemento" class="mb-1">Complemento</label>
                                        <input type="text" formControlName="complemento" id="complemento" class="form-control">
                                    </div>


                                    <button type="reset" class="btn btn-danger mt-2 float-right ">
                                        <i class="fas fa-ban mr-1"></i>Cancelar
                                    </button>
                                                                    
                                    <button type="submit" class="btn btn-success mt-2 mr-1 float-right">
                                        <i class="far fa-save mr-1"></i>Cadastrar
                                    </button>

                                </fieldset>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

            <div class="alert alert-success mt-3" *ngIf="sucesso">
                <strong>Sucesso!</strong> Imóvel Cadastrado Com Sucesso!
            </div>

            <div class="alert alert-danger mt-3" *ngIf="erro">
                <strong>Erro!</strong> Erro ao Cadastrar Imóvel!
            </div>

        </div>

    </div>

</div> 
