<div class="row mb-2">
    <div class="col-6">
        <form class="form-inline" #f="ngForm" (ngSubmit)="pesquisar(f.form.value.busca)">
            <input type="text" name="busca" ngModel #i (keyup)="onKeyup(i.value)" class="form-control form-control-sm mr-1" 
                placeholder="Pesquisar por nome do proprietario">

            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fas fa-search mr-1"></i>Pesquisar
            </button>
        </form>
    </div>
</div>