<div class="container-fluid">
    <div class="row">

        <div class="col-xl-12">

            <a routerLink="/imovel" class="btn btn-secondary mt-3">
                <i class="fas fa-undo-alt mr-1"></i>Voltar
            </a>

            <div class="card mt-3 mb-4">

                <div class="card-header">
                    <i class="fas fa-fw fa-table mr-1"></i> Visualizar Dados
                </div>

                <div class="card-body">

                    <div class="card">

                        <div class="card-header">
                            <h5 class="card-title">Dados Gerais</h5>
                        </div>

                        <div class="card-body">

                            <h6 class="">Status</h6>
                            <span class="alert alert-success p-1" *ngIf="imovel.disponivel" >Disponível</span>
                            <span class="alert alert-danger p-1" *ngIf="!imovel.disponivel">Alugado</span>

                            <h6 class="mb-0 mt-2">Tipo</h6>
                            <span>{{imovel.tipo}}</span>

                            <h6 class="mb-0 mt-2">Preço do Aluguel</h6>
                            <span>{{imovel.preco | currency: 'BRL'}}</span>

                            <h6 class="mb-0 mt-2">Descrição do Imóvel</h6>
                            <span>{{imovel.descricao}}</span>

                            <h6 class="mb-0 mt-2">Proprietário</h6>
                            <span>//?? PESQUISAR ??? ///</span>

                            <h6 class="mb-0 mt-2">Endereço</h6>
                            <span>{{imovel.endereco | endereco}}</span>
                                        
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>